<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/rock">Rock</a>
    <a href="/paper">Paper</a>
    <a href="/scissors">Scissors</a>
  </body>
</html>
