<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/setup" method="post">
      <label>Player name</label><br>
      <input type="text" name="name" value="">
      <br><br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
