.img-cls {
  width: 300px;
  height: 300px;
  border: 4px solid black;
}
.container {
  margin-top: 10%;
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
}
#npc {
  left: 50%;
}
